.product img {
    border-radius: 10px;
}

.product {
    border: 1px solid lightgray;
    border-radius: 10px;
    text-align: center;
}

.fonts {
    font-weight: 500;
    text-shadow: 2px 7px 5px rgb(0 0 0 / 20%), -13px -10px 1px rgb(255 255 255 / 30%);
}